<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

    </Appenders>
    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

        <!-- Application Loggers -->
        <logger name="com.orchid.pigeon" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>

        <!-- 3rdparty Loggers -->
        <logger name="org.springframework.data" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>


        <logger name="org.springframework.core" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>

        <logger name="org.springframework.beans" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>

        <logger name="org.springframework.context" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>

        <logger name="org.springframework.web" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>

        <logger name="org.springframework.test" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>


    </Loggers>

</Configuration>
